* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;

}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

div.container-fluid {
    background-color: black;
    padding: 50px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding-top: 12rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    color: aqua;
}

.home-content h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: left;

}

.home-img {
    border-radius: 50%;
}

.home-img img {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid aqua;
    box-shadow: 0 0 25px aqua;
    cursor: pointer;
    transition: 0.3s linear;
    display: block;
}


.Icons a {
    font-size: 2rem; 
    text-decoration: none;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
  }
  
  .Icons a:hover {
    color: aqua;
  }
  

.Activities h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.Activities {
    margin: 60px 0 30px;
    color: white;
}

.card {
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}


.card-title {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.card-body {
    text-align: center;
}


@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        height: 70vw;
        margin-top: 4rem;
    }

}